/* Calendar page specific styles */
.table-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: clamp(14px, 1.5vw, 18px);
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: clamp(14px, 1.5vw, 18px);
    text-align: left;
    width: 100%;
    padding: clamp(14px, 1.5vw, 18px) 0;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.styled-table th, .styled-table td {
    padding: 8px 15px;
    border: 1px solid #ddd;
}

.styled-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}